.footer {
  background-color: #444;
  color: white;
  padding: 1.5rem;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-section {
  margin: 0 3rem;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .footer{
    padding: unset;
  }

  .footer-content {
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 80%;
    width: 15rem;
  }
  
  .footer-section {
    margin: 1rem 0; 
  }
}
