.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh; /* using svh as per your requirement */
  text-align: center;
}

.navbar, .footer {
  flex-shrink: 0; /* Prevents Navbar and Footer from shrinking */
}

.hero {
  flex-grow: 1; /* Allows Hero (and nested Content) to grow and take up remaining space */
}
nav ul {
  list-style-type: none;
}
